<!DOCTYPE html>
<html lang="en" ng-app="redditClone">

<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
  <script src="app.js"></script>
</head>

<body class="container" ng-controller="mainController">
  <!-- Fixed navbar -->
  <div>
    <nav class="navbar navbar-default navbar-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Reddit Clone</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" ng-click="showForm = !showForm"><i class="fa fa-plus"></i>Submit Post</a></li>
            <li role="separator" class="divider"></li>
            <li>
              <a>
                <select ng-model="posts">
                  <option value="votes">Sort by Votes</option>
                  <option value="date">Sort by Dates</option>
                  <option value="title">Sort by Title</option>
                </select>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a>
                <input name="search" type="search" ng-model="search" placeholder='search'>
              </a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </div>
  <div >
  <div ng-show="showForm">
    <form name="postForm" ng-submit="submitPost(postForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : userPost.title.$invalid && !userPost.title.$pristine ,'has-success' : userPost.title.$valid }">
        <label class="control-label" for="title">Title:</label>
        <input autofocus type="text" name="title" class="form-control" ng-model="userPost.title" ng-required="true" id="title" ng-minlength="3" ng-maxlength="20" placeholder='Title'>
        <p ng-show="userPost.title.$error.minlength" class="help-block">title is too short.</p>
        <p ng-show="userPost.title.$error.maxlength" class="help-block">title is too long.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userPost.author.$invalid && !userPost.author.$pristine ,'has-success' : userPost.author.$valid }">
        <label class="control-label" for="author">Author</label>
        <input type="author" name="author" class="form-control" ng-model="userPost.author" id="author" ng-minlength="3" ng-maxlength="12" ng-required="true" placeholder='Author'>
        <p ng-show="userPost.author.$error.minlength" class="help-block">author is too short.</p>
        <p ng-show="userPost.author.$error.maxlength" class="help-block">author is too long.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userPost.imageURL.$invalid && !userPost.imageURL.$pristine ,'has-success' : userPost.imageURL.$valid }">
        <label class="control-label" for="imageURL">Image URL</label>
        <input type="text" id="imageURL" name="imageURL" class="form-control" ng-required="true" ng-model="userPost.imageURL" placeholder='Image URL'>
        <p ng-show="userPost.imageURL.$invalid && !userPost.imageURL.$pristine" class="help-block">Enter a valid image URL.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : userPost.description.$invalid && !userPost.description.$pristine ,'has-success' : userPost.description.$valid }">
        <label class="control-label" for="description">Description</label>
        <input type="text" id="description" name="description" class="form-control" ng-required="true" ng-model="userPost.description" placeholder='Description'>
        <p ng-show="userPost.description.$invalid && !userPost.description.$pristine" class="help-block">Enter a valid description.</p>
      </div>
      <button type="submit" ng-click='showForm = !showForm' class="btn btn-primary" ng-disabled="userPost.$invalid">Add Post</button>
    </form>
  </div>
  <div ng-repeat='post in userPosts' class='container' ng-style="{'background-color': '#b9bcbd', 'border': '1px solid black'}">

    <div class="col-xs-3">
      <img ng-src="{{post.imageURL}}" width="150px">
    </div>
  		<div>
		  	<h5 class='col-xs-9 row'>{{post.title}}</h5>
		  	<p>{{post.description}}</p>  			
		  	<h6>by: {{post.author}}</h6>
		  	<a ng-click ="postScore + 1"><i class="fa fa-arrow-up"></i></a>{{postScore}}<a ng-click="postScore - 1"><i class="fa fa-arrow-down"></i></a>

  		</div>
  	</div>
    <div ng-show = 'addComment'>
       <form name = 'commentForm' ng-submit='commentForm.$valid' novalidate>
      <div class = 'form-group' ng-class="{ 'has-error' : commentForm.username.$invalid && !commentForm.username.$pristine ,'has-success' : commentForm.username.$valid }">
        <label class = 'control-label for username'>Username</label>
        <input autofocus type='text' name='username' ng-model='user.username' ng-required='true' id='username' ng-minlength='5' ng-maxlength='15'>
        <p ng-show = 'commentForm.username.$error.minlength'>Name too short</p>
        <p ng-show = 'commentForm.username.$error.maxlength'>Name too long</p>
      </div>
      <div ng-class="{ 'has-error' : commentForm.comment.$invalid && !commentForm.comment.$pristine ,'has-success' : commentForm.comment.$valid }">
        <label class = 'control-label for comment'>Comment</label>
        <input autofocus type='text' name='comment' ng-model='user.comment' ng-required='true' id='comment' ng-minlength='5' ng-maxlength='150'>
      </div>
      <button type = 'submit' class = 'btn btn-primary' ng-disabled = 'commentForm.$invalid'>Post Comment</button>
    </form>
    </div>
  </div>

    <div class='col-xs-9'>
      <h5>{{post.title}}</h5>
      <p>{{post.description}}</p>
      <h6>by: {{post.author}}</h6>
      <a ng-click=""><i class="fa fa-arrow-up"></a></i><a ng-click=""><i class="fa fa-arrow-down"></i></a>
    </div>

  </div>
  </div>
</body>

</html>
